.card {
  border: 1px solid rgb(214, 214, 214);
  height: max-content;
  /* min-height: 540px; */
  display: flex;
  flex-direction: column;
  padding: 0 0 0.5rem 0;
  max-width: 25rem;
  border-radius: .2rem;
  background-color: white;
  display: none;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4){
  display: flex;
}

/* CARD HEADER */

.cardHeader {
  height: 6rem;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.cardHeader__photoContainer {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.cardHeader__iconContainer {
  width: 2rem;
}

.cardHeader__iconContainer img {
  scale: 1.3;
}

.facebook {
  scale: 1.6;
}

.cardHeader__infoContainer {
  width: 40%;
  margin-right: auto;
  max-height: 100%;
  user-select: none;
}

.cardHeader__infoContainer p {
  margin-top: -1rem;
  font-size: 1rem;
}

.cardHeader__photoContainer img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  user-select: none;
}

/* CARD BODY */

.cardBody {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.cardBody__photoContainer {
  max-height: 18rem;
  min-height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cardBody__photoContainer img {
  max-width: 100%;
  
}

.cardBody__textContainer {
  height: 5.4rem;
  position: relative;
}

.bodyText {
  margin-top: auto;
  max-height: 3.9rem;
  overflow: hidden;
}

/* show text */

.showMoreText {
  max-height: fit-content;
  overflow: auto;
}

.expendParent {
  height: fit-content;
}

.moreButton {
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  padding: 0;
}

.cardBody__likeContainer {
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cardBody__likeContainer::after {
  content: "";
  background: rgba(128, 128, 128, 0.514);
  position: absolute;
  bottom: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 0.5px;
  width: 100%;
}

/* LOAD MORE */

.loadMoreButton__container button {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.3rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  color: white;
  background-color: rgb(0, 129, 255);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loadMoreButton__container button:hover {
  scale: 1.1;
}

.likeButton {
  width: 2rem;
  height: 2rem;
  -webkit-mask: url(../icons/heart.svg) no-repeat center;
  mask: url(../icons/heart.svg) no-repeat center;
  background-color: rgb(255, 255, 255) ;
  cursor: pointer;
}

.likes {
  user-select: none;
}

/* fill svg  */

.liked {
  background-color: red;
}

.disliked {
  background-color: black;
}

/* Error modal */

.errorContainer {
  width: 15rem;
  height: 8rem;
  border: 1px solid red;
  border-radius: 0.3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  display: none;
  text-align: center;
}

.errorContainer button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0.9em;
}

.errorContainer button:hover {
  scale: 1.1;
  color: red;
}